[Unit]
Description=Sub10 service
After=network.target
Requires=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/make -C /etc/route10/ start
ExecStop=/usr/bin/make -C /etc/route10/ stop

[Install]
WantedBy=default.target
